.blog {
    
    h2 {
        margin-top: 5px;
        text-align: center;
        color: red;
        text-decoration: underline;
    }

    .post-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        #post-title, #post-content, #post-tags, label, input {
            margin-top: 10px;
        }

        textarea {
            resize: none;
            height: 120px;
        }

        #submit {
            height: 5vh;
            width: 7vw;
        }
    }
}

.section_post {
    h2, p {
        display: flex;
        justify-content: center;
    }
}
